body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #C2C2C2;
	background-image: url();
}
body,td,th {
	font-family: Trebuchet MS;
	font-size: 14px;
}
.menu {
	font-family: "Trebuchet MS";
	font-size: 16px;
	line-height: 30px;
	font-weight: normal;
	color: #333333;
	text-decoration: none;
	display: block;
	padding-right: 15px;
	padding-left: 15px;
}
.menu:hover
{
	color: #000000;
	background: bottom center;
}

#main-body
{
	width:978px;
}
#main-body li
{
	list-style-type: none;
	margin: 5px;
	padding: 5px;
	float: left;
	width: 678px;
	text-align: justify;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #333333;
	font-size: 12px;
}
.sidemenu {
	font-family: "Trebuchet MS";
	font-size: 12px;
	font-style: normal;
	line-height: 29px;
	font-weight: bold;
	font-variant: normal;
	text-transform: uppercase;
	color: #FFFFFF;
	background-image: url(images/sidemenubg.png);
	background-repeat: no-repeat;
	text-align: left;
	text-indent: 20px;
	vertical-align: middle;
	display: block;
	height: 29px;
	width: 184px;
	text-decoration: none;
}
.sidemenu:hover {
	color: #000000;
}

#gallerys li
{
	list-style-type: none;
	margin: 5px;
	padding: 5px;
	float: left;
	width: 238px;
	text-align: justify;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #333333;
	font-size: 12px;
	background-color: #464646;
	text-align:center;
	list-style-image: none;
}
#gallerys li:hover
{
	list-style-type: none;
	margin: 5px;
	padding: 5px;
	float: left;
	width: 238px;
	text-align: justify;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #333333;
	font-size: 12px;
	background-color: #666666;
	text-align:center;
	list-style-image: none;
}
#gallerys img
{

	width: 230px;
	height:180px;
	border:none;

}
#gallerys a
{
	font-weight: normal;
	color: #FFFFFF;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	text-decoration: none;	

}
#gallerys a:hover
{
	font-weight: normal;
	color: #FFFF00;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	text-decoration: none;
}

.news_title
{
	color: #333333;
	text-decoration: none;
}
.tdblk
{
	display: block;
	height: 25px;
	background-color: #CCCCCC;
	line-height: 25px;
	text-align: left;
	text-indent: 10px;
	vertical-align: middle;
}
.tdblk:hover
{
	background-color: #FFFFFF;
}