/* Global Structure ============================================================= */
.container {
	margin: 0 auto;
	position: relative;
	width: 978px;
	font-size:.8125em;
}

	
	/*Gallery*/
	#gallery {
		height:400px;
		overflow:hidden;
	}
	
	/* Content */
	#content {
		float: left;
		width: 572px;
	}
ul {
	list-style: none;
}


/*===== gallery =====*/
.roundabout-holder  { 
	width:680px;
	height:400px;
	margin:0 auto;
}
.roundabout-moveable-item {
   width: 510px;
   height: 322px;
   cursor: pointer;
}
	.roundabout-moveable-item img{
		width:100%;
	}
.roundabout-in-focus {
	
}


/*--- loopedSlider styles ---*/
/*
 * Required 
*/
#loopedSlider .wrap { width:295px; height:295px; overflow:hidden; position:relative;}
#loopedSlider .slides { position:absolute; top:0; left:0; }
#loopedSlider .slides div { position:absolute; top:0; width:295px; display:none; }
/*
 * Optional
*/
#loopedSlider { width:295px; position:relative; clear:both; }
#loopedSlider .nav-controls {
	width:100%;
	overflow:hidden;
	padding-top:0px;
}
#loopedSlider li {
	display:inline;
}
#loopedSlider li a.previous {
	float:left;
}
#loopedSlider li a.next {
	float:right;
}
